<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="landingPage">
    
            <div class="container pd">
                    <h1>YelpCamp</h1>
                <div class="row">
                    <div class="col-md-4"></div>
                   
<div class="col-md-4">
<h2>Welcome to YelpCamp</h2>
<div></div>
<button class="btn btn-lg btn-primary"><a href="/campgrounds">View Campgrounds</a></button>
</div>
<div class="col-md-4"></div>
</div>
</div>
<%include partials/footer%>